// if use it for server
{
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "script"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "prettier/prettier": "error"
  }
}

// if use it for client
// {
//   "plugins": ["prettier"],
//   "extends": ["airbnb-base", "plugin:prettier/recommended"],
//   "parserOptions": {
//     "ecmaVersion": 12,
//     "sourceType": "module"
//   },
//   "env": {
//     "browser": true,
//     "es6": true,
//     "node": true
//   },
//   "ignorePatterns": ["node_modules/"],
//   "rules": {
//     "prettier/prettier": "error"
//   }
// }